@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .gradient-background {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.16%, rgba(0, 0, 0, 0.76) 92.67%);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Ubuntu';
}